:root {
    font-family: monospace;
    font-size: 14px;
    background-color: #eee;
}

#container {
    display: flex;
    /* padding: 15px; */
}

#controls{
    margin:8px;
    flex:1;
    display:'flex';
    flex-direction:'column'
}
#mapContainer{
    margin:8px;
    /* flex:3; */
    display:flex;
    flex-direction: column;
}

.row{
    display:flex;
}

#map {
    
    width: 600px;
    height: 600px;
    border-radius: 4px;
}

#stats {
    margin:8px;
    flex:2;
    /* padding: 50px; */
}

.card {
    /* margin:8px; */
    padding:8px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
    margin-bottom: 8px;
    flex:1;
}
.num {
    font-size: 2rem;
    font-weight: 600;
}
.numText {
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    margin:0;
}

button {
    margin:2px;
    border-style: none;
    background-color: #1976d2;
    color:#fff;
    border-radius: 4px;
    padding: 6px 16px;
    font-weight: 600;
    cursor: pointer;
}
input[type="file"] {
    border-style: none;
}

a.button {
    cursor: pointer;
    margin:2px;
    border-style: none;
    background-color: #1976d2;
    color:#fff;
    border-radius: 4px;
    padding: 6px 16px;
    font-weight: 600;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}

#head1{
    margin-bottom: 8px;
}

.combine{
    max-width: 150px;
}